includes:
    - phpstan-baseline.neon
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 4
    paths:
        - src
        - database
    excludePaths:
        - src/Resources/Monitors/MonitorResource.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true

